 /*menu principal*/
nav{


 .navbar {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr, 1fr;
   background-color: $nav-y-footer-color;
   padding: 25px;

   .logo {
     @include logo(column, start, start, 60%, 10px, 200px, 24px, bold, 10px);
   }

   .navbar-toggler {
     color: #FF5E03;
   }

   .nav-link{
     display: inline;
     padding: 10px;
     margin: 10px;
     font-size: 40px;
     font-weight: bold;
     background-position: 50% 100%;
     background-repeat: no-repeat;
     background-size: 0% 3px;
     transition: background-size 0.3s;
     color: #FF5E03;

     &:hover {
       color: aliceblue;
       background-image: linear-gradient(white, white);
       background-size: 100% 3px;
     }
   }

   /*menu secundario*/
   .secundario {
     border-top: 2px solid rgb(255, 250, 250);
     background-color: $nav-y-footer-color;
     padding: 1px;
   }

   .menu-secundario {
     display: flex;
     justify-content: start;
     flex-direction: row;
     padding: 5px;
     margin: 5px;
     border-radius: 12px;
     font-size: 16px;
     font-weight: bold;
     transition: background-size 0.3s;
   }

   .menu-secundario-item {
     display: flex;
     border-radius: 20%;
     justify-content: start;
     flex-direction: row;
     padding: 5px;
     margin: 5px;
     font-size: 30px;
     font-weight: bold;
     transition: b-size 0.3s;

     a {
       color: #FF5E03;

       &:hover {
         color: aliceblue;
       }
     }
   }
 }
}